.conteudo {
    margin: auto;
}

.menu-layout {
    display: flex;
    width: 100%;
    max-width: 1000px;
    justify-content: space-between;
    margin: auto;
    height: 35px;
    align-items: center;
    padding-top: 20px;
}

.menu ul li {
    display: inline-block;
    padding: 20px;
}

.menu ul li a {
    text-decoration: none;
    color: #666;
}

.main {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    background-color: #F9F9FC;
    position: relative;
    height: 445px;
    margin-top: 50px;
}

.display {
    display: flex;
}

.texto {
    width: 400px;
    padding: 50px;
}

.texto h1 {
    font-size: 45px;
}

.texto span {
    color: #5E3AEE;
    display: flex;
    align-items: center;
}

.texto img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.texto p {
    font-size: 14px;
    margin-top: -20px;
}

.imagem {
    position: absolute;
    right: 0;
    top: -20px;
}

.imagem img {
    width: 400px;
}

.input {
    margin-top: 20px;
}

.input input {
    padding: 10px;
    border: none;
    box-shadow: 0px 0px 10px -8px black;
}

.input button {
    padding: 10px;
    color: #F9F9FC;
    background-color: #5E3AEE;
    border: none;
}

.total {
    margin-top: 50px;
    border-top: solid 1px rgb(154, 154, 154);
    border-bottom: solid 1px rgb(154, 154, 154);
    margin-top: 50px;
}

.projetos {
    display: grid;
    grid-template-columns: 10fr 10fr 10fr 10fr;
    text-align: center;
}

.projeto-1 {
    width: 200px;
}

.projeto-2 {
    width: 200px;
}

.projeto-3 {
    width: 200px;
}

.projeto-4 {
    width: 200px;
}

.text h3 {
    font-size: 27px;
}

.text span {
    font-size: 14px;
    color: rgb(154, 154, 154);
}

.sobre {
    margin: auto;
    width: 100%;
    max-width: 1200px;
    height: 369px;
    width: 90%;
    background-color: #0F1221;
    position: relative;
    margin-top: 100px;
}

.sobre-caixa {}

.sobre-caixa img {
    top: -46px;
    width: 400px;
    position: absolute;
    left: 20px;
}

.sobre-texto {
    width: 300px;
    right: 40px;
    top: 40px;
    color: aliceblue;
    float: right;
    margin: 30px 45px 0px 0px;
}

.sobre-texto h5 {
    color: #808080;
}

.sobre-texto h3 {
    font-size: 30px;
    margin-top: 4px;
}

.sobre-texto h3 span img {
    width: 10%;
    height: 10%;
    position: relative;
    top: 10px;
    left: -5px;
}

.sobre-texto p {
    color: #d0d0d0;
    padding-bottom: 6px;
}

.sobre-texto button {
    padding: 10px 15px;
    background-color: white;
    border: none;
}